/* 
    Importación de fuentes de texto.
*/
@font-face {
    font-family: 'Libre-Bodoni';
    src: url('../fonts/Libre-Bodoni/LibreBodoni-VariableFont/LibreBodoni-VariableFont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Libre-Bodoni/LibreBodoni-VariableFont/LibreBodoni-VariableFont.otf'),
        url('../fonts/Libre-Bodoni/LibreBodoni-VariableFont/LibreBodoni-VariableFont.svg') format('svg'),
        url('../fonts/Libre-Bodoni/LibreBodoni-VariableFont/LibreBodoni-VariableFont.ttf') format('truetype'),
        url('../fonts/Libre-Bodoni/LibreBodoni-VariableFont/LibreBodoni-VariableFont.woff') format('woff'),
        url('../fonts/Libre-Bodoni/LibreBodoni-VariableFont/LibreBodoni-VariableFont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'M-Plus';
    src: url('../fonts/M-Plus/MPlus-VariableFont/MPlus-VariableFont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/M-Plus/MPlus-VariableFont/MPlus-VariableFont.otf'),
        url('../fonts/M-Plus/MPlus-VariableFont/MPlus-VariableFont.svg') format('svg'),
        url('../fonts/M-Plus/MPlus-VariableFont/MPlus-VariableFont.ttf') format('truetype'),
        url('../fonts/M-Plus/MPlus-VariableFont/MPlus-VariableFont.woff') format('woff'),
        url('../fonts/M-Plus/MPlus-VariableFont/MPlus-VariableFont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 
    Configuración general de botones.
    (Traidos de bootstrap) 
*/
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

/*
    Configuración del contenedor telón
*/
.container-curtain {
    position: fixed;
    z-index: 2;
    background-color: #86b7fe;
    width: 100%;
    height: 100vh;
}

/* 
    Configuración de estilos
    para el formulario de inicio de sesión
    y registrarse.
*/
.signUpIn-container {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: opacity .75s linear;
}

.signUpIn-container form {
    display: grid;
    grid-template-rows: 75% 25%;
    min-width: 20rem;
    min-height: 20rem;
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgb(248,249,250);
    box-shadow: 0 1rem 3rem rgba(33, 37, 41, .175);
}

h2 {
    font-family: 'Libre-Bodoni';
    text-align: center;
}

input {
    margin: 0;
    display: block;
    padding: .375rem .75rem;
    width: calc(100% - 1.75rem);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: 'system-ui';
}

input:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.signUpIn-container span {
    display: block;
    text-align: end;
    width: 100%;
    font-size: .75rem;
    font-family: 'system-ui';
}

/* Para la parte final en los botones */
.signUpIn-container form div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signUpIn-container form div button:last-child {
    text-decoration: underline;
}

button {
    margin: .25rem .125rem;
    font-family: 'system-ui';
    text-transform: none;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    background-color: transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* 
    Estilos para generar una animación al mostrar u ocultar el contenedor del formulario 
    para iniciar sesión o para registrarse.
*/
.signUpIn-container-hide {
    opacity: 0;
}

.signUpIn-container-behind-curtain {
    z-index: 1;
}

/* 
    Estilos del contenedor para registrarse.
*/

.register-container {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: opacity .75s linear;
}

.register-container form {
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgb(248,249,250);
    box-shadow: 0 1rem 3rem rgba(33, 37, 41, .175);
}

.register-container form div {
    margin-bottom: 1rem;
}

.register-container label {
    font-family: 'system-ui';
    margin-bottom: 0.5rem;
    font-weight: 400;
    display: inline-block;
    cursor: default;
}

.register-container input {
    margin: 0;
    display: block;
    padding: .375rem .75rem;
    width: calc(100% - 1.75rem);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: 'system-ui';
}

/* Para el último input del checkbox */
#termsR {
    width: auto;
    height: auto;
    width: 1.25em;
    height: 1.25em;
    margin-right: .25em;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid #afc6c9;
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
}

#termsR:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

/* Para el último div que contiene los botones para regresar o registrarse */
.register-container form div:last-child {
    text-align: center;
    margin-bottom: 0.5rem;
}

/* Para oculter el register-container */
.register-container-hide {
    opacity: 0;
}

.register-container-behind-curtain {
    z-index: 1;
}


/* 
    Configuración del contenedor donde se mostrarán
    las opciones del juego.
*/
.game-options-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
    background-color: rgb(248,249,250);
    padding: 3rem 5rem;
    border-radius: 0.375rem;
    box-shadow: 0 1rem 3rem rgba(33, 37, 41, .175);
    text-align: center;
    transition: opacity .75s linear;
}

.game-options-container-h2 {
    padding: 0;
    margin: 0;
    font-family: 'Libre-Bodoni';
    text-align: center;
    margin-bottom: 2rem;
}

.game-options-container-button {
    font-family: 'M-Plus';
    font-weight: 400;
    margin: .25rem 0;
    text-transform: none;
    display: block;
    width: 100%;
    padding: 0.375rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    background-color: transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* 
    Estilos para generar una animación al mostrar u ocultar el contenedor de opciones.
*/
.game-options-container-show {
    opacity: 1;
}

.game-options-container-hide {
    opacity: 0;
}

.game-options-container-behind-curtain {
    z-index: 1;
}

/*
    Estilos para el contenedor de los módulos de historia.
*/
.game-history {
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(248,249,250);
    padding: 3rem 5rem;
    border-radius: 0.375rem;
    box-shadow: 0 1rem 3rem rgba(33, 37, 41, .175);
    transition: opacity .75s linear;
}

.game-history-hide {
    opacity: 0;
}

.game-history-behind-curtain {
    z-index: 1;
}

.game-history div {
    display: flex;
}

.game-history div:nth-child(1) {
    justify-content: space-between;
    align-items: center;
}

.game-history h2 {
    font-family: 'Libre-Bodoni';
    font-weight: 400;
    text-align: start;
    padding: 0;
}

.game-history h6 {
    font-family: 'Libre-Bodoni';
    font-weight: 500;
    text-align: start;
    padding: 0;
}

.game-history h6:hover {
    cursor: pointer;
}


.game-history div:nth-child(3) {
    margin-top: 0.5rem;
}

.game-history div button:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
}

.game-history button {
    font-family: 'M-Plus';
    font-weight: 400;
    margin: 0.25rem 0;
    text-transform: none;
    display: block;
    width: 100%;
    padding: 2rem 3rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid black;
    background-color: transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Estilos para el contendor de multijugador del juego */
.game-multiplayer {
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(248,249,250);
    padding: 3rem 5rem;
    border-radius: 0.375rem;
    box-shadow: 0 1rem 3rem rgba(33, 37, 41, .175);
    transition: opacity .75s linear;
}

.game-multiplayer-hide {
    opacity: 0;
}

.game-multiplayer-behind-curtain {
    z-index: 1;
}

.game-multiplayer div {
    display: flex;
}

.game-multiplayer div:nth-child(1) {
    justify-content: space-between;
    align-items: center;
}

.game-multiplayer h2 {
    font-family: 'Libre-Bodoni';
    font-weight: 400;
    text-align: start;
    padding: 0;
}

.game-multiplayer h6 {
    font-family: 'Libre-Bodoni';
    font-weight: 500;
    text-align: start;
    padding: 0;
}

.game-multiplayer h6:hover {
    cursor: pointer;
}


.game-multiplayer div:nth-child(3) {
    margin-top: 0.5rem;
}

.game-multiplayer div button:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
}

.game-multiplayer button {
    font-family: 'M-Plus';
    font-weight: 400;
    margin: 0.25rem 0;
    text-transform: none;
    display: block;
    width: 100%;
    padding: 2rem 3rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid black;
    background-color: transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Estilos para el contenedor de instrucciones*/
.game-instructions {
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(248,249,250);
    padding: 3rem 5rem;
    border-radius: 0.375rem;
    box-shadow: 0 1rem 3rem rgba(33, 37, 41, .175);
    transition: opacity .75s linear;
}

.game-instructions-hide {
    opacity: 0;
}

.game-instructions-behind-curtain {
    z-index: 1;
}

.game-instructions div {
    display: flex;
}

.game-instructions div:nth-child(1) {
    justify-content: space-between;
    align-items: center;
}

.game-instructions h2 {
    font-family: 'Libre-Bodoni';
    font-weight: 400;
    text-align: start;
    padding: 0;
}

.game-instructions h6 {
    font-family: 'Libre-Bodoni';
    font-weight: 500;
    text-align: start;
    padding: 0;
}

.game-instructions h6:hover {
    cursor: pointer;
}


.game-instructions div:nth-child(3) {
    margin-top: 0.5rem;
}

.game-instructions div button:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
}

.game-instructions button {
    font-family: 'M-Plus';
    font-weight: 400;
    margin: 0.25rem 0;
    text-transform: none;
    display: block;
    width: 100%;
    padding: 2rem 3rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid black;
    background-color: transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Estilos para el contendor de documentación del juego */
.game-documentation {
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(248,249,250);
    padding: 3rem 5rem;
    border-radius: 0.375rem;
    box-shadow: 0 1rem 3rem rgba(33, 37, 41, .175);
    transition: opacity .75s linear;
}

.game-documentation-hide {
    opacity: 0;
}

.game-documentation-behind-curtain {
    z-index: 1;
}

.game-documentation div {
    display: flex;
}

.game-documentation div:nth-child(1) {
    justify-content: space-between;
    align-items: center;
}

.game-documentation h2 {
    font-family: 'Libre-Bodoni';
    font-weight: 400;
    text-align: start;
    padding: 0;
}

.game-documentation h6 {
    font-family: 'Libre-Bodoni';
    font-weight: 500;
    text-align: start;
    padding: 0;
}

.game-documentation h6:hover {
    cursor: pointer;
}


.game-documentation div:nth-child(3) {
    margin-top: 0.5rem;
}

.game-documentation div button:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
}

.game-documentation button {
    font-family: 'M-Plus';
    font-weight: 400;
    margin: 0.25rem 0;
    text-transform: none;
    display: block;
    width: 100%;
    padding: 2rem 3rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid black;
    background-color: transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Estilos para el contendor de configuración del juego */
.game-config {
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(248,249,250);
    padding: 3rem 5rem;
    border-radius: 0.375rem;
    box-shadow: 0 1rem 3rem rgba(33, 37, 41, .175);
    transition: opacity .75s linear;
}

.game-config-hide {
    opacity: 0;
}

.game-config-behind-curtain {
    z-index: 1;
}

.game-config div {
    display: flex;
}

.game-config div:nth-child(1) {
    justify-content: space-between;
    align-items: center;
}

.game-config h2 {
    font-family: 'Libre-Bodoni';
    font-weight: 400;
    text-align: start;
    padding: 0;
}

.game-config h6 {
    font-family: 'Libre-Bodoni';
    font-weight: 500;
    text-align: start;
    padding: 0;
}

.game-config h6:hover {
    cursor: pointer;
}


.game-config div:nth-child(3) {
    margin-top: 0.5rem;
}

.game-config div button:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
}

.game-config button {
    font-family: 'M-Plus';
    font-weight: 400;
    margin: 0.25rem 0;
    text-transform: none;
    display: block;
    width: 100%;
    padding: 2rem 3rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid black;
    background-color: transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}